*.py[co]

data

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox

#Translations
*.mo

.DS_Store
.project
.pydevproject
screenshots

#Mr Developer
.mr.developer.cfg
